* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

h2 {
  margin: 0;
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 48px;
}

.findepage {
  padding-top: 50px;
  background-color: black;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.findepage__list li {
  text-decoration: none;
}

.grid-principal {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
}

.card-principal {
  padding: 0 100px;
  grid-column: 2;
  background: #E7816B;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
}
.card-principal .card-principale__image {
  transform: translate(0px, 80px);
  background: #E7816B;
  background: #FFFFFF;
  background: linear-gradient(270deg, #3A3A3A 70.19%, #B8B8B8 100%);
  border-radius: 36px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.527), 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
}
.card-principal .card-principal__text {
  width: 50%;
  color: #FFFFFF;
  padding: 80px 0 0 0;
}
.card-principal .card-principal__text .card-principal__title {
  padding-bottom: 30px;
}
.card-principal .card-principal__btn {
  font-family: "Jost";
  background-color: #FFFFFF;
  /* Green */
  border: none;
  border-radius: 8px;
  color: #333136;
  padding: 18px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
}

.card {
  padding: 160px 0;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  grid-auto-flow: row;
  grid-template-areas: "card__gauche card__droite1" "card__gauche card__droite2";
}
.card div > section {
  color: white;
}
.card section > a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.card__gauche:hover, .card__droite1:hover, .card__droite2:hover {
  background-color: #E7816B;
  background-blend-mode: screen;
}

.card__gauche {
  grid-area: card__gauche;
  background-image: url("../images/image1.png");
  background-size: cover;
  height: 640px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__droite1 {
  grid-area: card__droite1;
  background-image: url("../images/image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 308px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__droite2 {
  grid-area: card__droite2;
  background-image: url("../images/image3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 308px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card__secondaire {
  grid-column: 2;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 30px;
  grid-auto-flow: row;
  grid-template-areas: "card__text card__text2 card__text3";
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card__text {
  grid-area: card__text;
}

.card__text2 {
  grid-area: card__text2;
}

.card__text3 {
  grid-area: card__text3;
}

.card-footer {
  grid-column: 2;
  margin-top: 100px;
  padding: 30px 50px;
  background: #E7816B;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(0, 50px);
}
.card-footer .card-footer__sousRepartition {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #FFFFFF;
}
.card-footer .card-footer__title {
  width: 80%;
}
.card-footer .card-footer__btn {
  font-family: "Jost";
  background-color: #FFFFFF;
  /* Green */
  border: none;
  border-radius: 8px;
  color: #333136;
  padding: 18px 24px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 40px;
}

.nav {
  grid-column: 2;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav > .nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.nav > .nav-header > .nav-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  /* identical to box height, or 58% */
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #000000;
}

.nav > .nav-header > img {
  margin-right: 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 960px) {
  .grid-principal {
    display: flex;
    flex-direction: column;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: black;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .card__secondaire {
    grid-column: 2;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas: "card__text card__text2 card__text3";
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-principal {
    grid-column: 2;
    padding: 0;
    background: #E7816B;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
  }
  .card-principal .card-principal__text {
    width: 100%;
    color: #FFFFFF;
    padding: 80px 0 0 0;
    text-align: center;
  }

  .card {
    padding: 160px 0;
    grid-column: 2;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas: "card__gauche card__droite1" "card__gauche card__droite2";
    flex-direction: column;
  }

  .card__gauche {
    grid-area: card__gauche;
    background-image: url(../images/image1.png);
    background-size: cover;
    height: 308px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
